# .gitignore

# Ignore node_modules directory
flask_project/SeaM-main/src/binary_class/YourDir/
flask_project/_pycache_/
vue_project/node_modules/
node_modules
YourDir
YourDir/
data
_pycache_
image

.flasksession/
# Ignore logs
*.log
*.onnx

# Ignore the build directory
dist/

# Ignore .env files
.env
